.next-event
  != partial :next_event, :event => next_event

.row.big-divider
  .posts.todo.column.grid_7
    != partial :grouped_post, :collection => grouped_posts, :object => :post_group

  .resources.column.grid_5
    != partial :subscription_form
    != partial :resource, :collection => resources, :object => :resource

