.next-event
  != partial :next_event, :event => @next_event
.posts.todo
  != partial :post, :collection => @posts, :object => :post

%h3 Sponsors
.sponsors
  %img(src="/images/engineyard.gif")
  %img(src="/images/leandog.png")


