.next-event
  != partial :next_event, :event => @next_event
.posts.todo
  != partial :grouped_post, :collection => @grouped_posts, :object => :post_group

%span.resources
  != partial :resource, :collection => @resources, :object => :resource

