.next-event
  != partial :next_event, :event => @next_event
.posts.todo
  != partial :grouped_post, :collection => @grouped_posts, :object => :post_group

%h3 Sponsors
.sponsors
  %img(src="/images/engineyard.gif")
  %img(src="/images/leandog.png")


