@import settings.sass
@import reset.sass
@import grid.sass

!yellow = #d7caa0
!red = #cb4d29
!medium_grey = #2a2c2b
!dark_grey = #1e1e20

body
  background-color: #1e1e20
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  color: #fff

#container
  background-image: url(/images/container_bg.jpg)
  border-bottom: solid 1px #656461

body.event
  .date
    color= !red
    position: relative
    top: .3em
    font-size: 1em
  em
    display: block
    width: 50%
    padding-bottom: 5px
    margin-bottom: 5px
    text-transform: uppercase
    border-bottom: solid 2px
    border-bottom-color= !medium_grey
    font-style: normal
  .presenter
    font-size: .9em
    strong
      color= !yellow
    .bio
      padding-top: 5px
      padding-bottom: 20px
      width: 50%
  .venue
    font-size: .9em
    strong
      color= !yellow
      display: block

body.post
  .from
    margin-bottom: 15px

#wrapper
  +full_grid_width
  margin: 0 auto
  .page
    padding-top: 1em
    padding-bottom: 2em
    h1
      color= !yellow
      font-family: Georgia, serif
      font-size: 2em
      line-height: 1.5em
      text-shadow: #111 2px 1px 2px
      font-weight: normal
      a
        color= !yellow
        text-decoration: none

.subscribe-form
  form
    input[type='text']
      +grid(3)
      font-size: 1em
      height: 20px

nav
  ul
    list-style: none
  li
    margin: 0
    display: inline
  a
    text-decoration: none
  a:hover
    text-decoration: underline
    color: white


header
  display: block
  background-image: url(/images/header_sliver.png)
  background-repeat: x-repeat
  width: 100%
  height: 114px

  .container
    +full_grid_width
    margin: 0 auto
    display: block
    background-image: url(/images/header_logo.png)
    background-position: bottom left
    background-repeat: no-repeat
    height: 114px
    position: relative

    nav
      font-weight: bold

      ul
        position: absolute
        right: 0px
        bottom: 0px
      li
        margin-left: 20px
      a
        color: #efc6bb
      a:hover
        color: white

footer
  display: block
  +full_grid_width
  margin: 0 auto
  padding-bottom: 3em

  nav
    +grid(6)
    display: block
    padding-top: 2em
    font-size: .9em

    ul
      li
        margin-right: 15px
      a
        color: #716c5a

  .sponsors
    +grid(6)
    padding-top: 1.4em
    text-align: right

    a
      margin-left: 15px

a
  color: white

  img
    border: none

.row.ical
  margin-left: 700px
  width: 180px

a.ical
  display: block
  vertical-align: middle
  height: 35px
  background-image: url(/images/icons/icon_ical.gif)
  background-repeat: no-repeat
  background-position: 0 middle
  padding-left: 20px

h1, h2
  color: #fff
  font-family: 'Gill Sans', Verdana, 'Bitstream Vera Sans', sans-serif
  font-weight: normal

blockquote
  position: relative
  color: rgb(255, 239, 226)
  padding: 2em 0 2em #{!grid_column_width}
  margin-left: 0px
  background-repeat: no-repeat

.next-event

  h2
    font-family: Georgia, serif
    font-size: 3em
    line-height: 1.5em
    text-shadow: #111 2px 2px 2px
    font-weight: normal

    a
      text-decoration: none
      color= !yellow

  .content
    color= !yellow

  .presenter
    color: white

  .next-blurb
    color: #8b8986
    position: relative
    top: .5em
    font-size: 1.2em

  .event-date
    +grid_left_margin(1)
    +grid(7)

    a.event-button
      font-size: 1.1em
      margin-right: 6px
      margin-bottom: 6px
      background= !red
      margin-top: 1em
      padding: 15px 25px
      background-image: url(/images/clear-gradient.png)
      background-repeat: repeat-x
      -webkit-border-radius: 15px
      -webkit-box-shadow: 2px 2px 2px black
      float: right
      text-align: center
      font-weight: bold
      text-shadow: #111 2px 1px 2px
      text-decoration: none
      &:hover
        background-color= !red - 20
.upcoming-events-teaser
  margin-top: 1.5em
  margin-bottom: 1.5em
  +grid(4)
  a
    display: block  
    color= !yellow
    padding-left: 20px
    font-size: .9em
    margin-bottom: 5px
    &:hover
      color: white

.posts
  .group
    color: #6c6757
    font-size: .8em
    padding-bottom: 1em

  a.permalink
    background-image: url('/images/icons/permalink.gif')
    background-position: center left
    background-repeat: no-repeat
    padding-left: 20px

  h3
    font-family: Georgia, serif
    font-size: 1.5em
    line-height: 1.5em
    font-weight: normal

    a
      text-decoration: none
      color: white
      &:hover
        text-decoration: underline

  color= !yellow

  .from
    font-weight: bold

    a
      text-decoration: none
      color= !yellow
      &:hover
        color: white

  .body p
    font-size: .8em

  .post
    margin-bottom: 2em
    background-image: url(/images/bullet_arrow.png)
    background-repeat: no-repeat
    background-position: 0px 5px
    padding-left: 45px

.post_group
  background-repeat: repeat-x
  padding-top: .5em

.post + .post_group
  background-image: url(/images/border_line.png)
  padding-top: 1em

.big-divider
  padding-top: 60px
  margin-top: 40px
  background-image: url(/images/big_divider.png)
  background-repeat: no-repeat


.resources
  h3
    margin: 0
    a
      text-decoration: none
      text-shadow: #111 2px 1px 2px

      &:hover
        text-decoration: underline

  .resource
    margin-bottom: 2em
    background-image: url(/images/bullet_bracket.png)
    background-repeat: no-repeat
    background-position: 0px 12px
    padding-left: 25px

    .body p
      color= !yellow
      font-size: .8em
