%nav.column
  %ul
    %li
      %a(href="/") Home
    %li
      %a(href="/about") About
    %li
      %a(href="/events") Events
    %li
      %a(href="/resources") Ruby Resources
    %li
      %a(href="/contact") Contact
