%h1 Resources
%span.note
  != surround "Have a resource that helped you? Send us the URL at ", "." do
    %a(href="mailto:resources@clerb.org" title="Submit your resources!") resources@clerb.org

- @grouped_resources.each do |topic,resources|
  %h2= topic
  - resources.each do |resource|
    %h3
      %a{:href => resource.url, :title => resource.heading}= resource.heading
    != resource.body
