.sponsors.column
  %a(href='http://designinginteractive.com' title='Designing Interactive' rel='external')
    %img(src='/images/sponsors/di_logo.png' alt='Designing Interactive')
  %a(href='http://navel-labs.com' title='Navel Labs' rel='external')
    %img(src='/images/sponsors/navel_labs_logo.png' alt='Navel Labs')
  %a(href='http://leandog.com' title='Lean Dog Software' rel='external')
    %img(src='/images/sponsors/lean_dog_logo.png' alt='Lean Dog Software')
