.subscribe-form.resource
  %h3 Subscribe
  .body
    %p To get emailed about upcoming events, please enter your name and email address below.
  %form(action="http://clerb.createsend.com/t/r/s/hdlhty/" method="post" id="subForm")
    %p
      %label(for="name") Name
      %input(type='text' name="cm-name" id="name")
    %p
      %label(for="cm-hdlhty-hdlhty") Email
      %input(type='text' name="cm-hdlhty-hdlhty" id="cm-hdlhty-hdlhty")
    %input(type='submit' value='Sign Up')
